body {
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
  height: 400%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.719)),
    url("./images/food.jpeg");
}

/* Slideshow container */
.slideshow-container {
  position: static;
  height: 300%;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  position: static;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  background-color: #fdd451;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #dab7ff;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #fdd451;
}

p {
  font-size: 50px;
  color: white;
  line-height: 50px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.45);
}
