<%-include('./partial/header')-%>    

<h1>Enter a keyword to search for recipes</h1>
<form action="/recipes" method="GET">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Ex: steak" name="searchterm">
    </div>
    <button type="submit" class="btn btn-primary">Search!</button>
</form>

<%-include('./partial/footer')-%> 