<%-include('./partial/header')-%>    

<h1>These are your results</h1>

<div class="row">
    <%for (let i = 0; i < searchResults.length; i++) { %>
        <div style="background-color: white; width:286px; height: 180px;">
            <a href="/recipe/"+<%= searchResults[i].id %>>
                <%= searchResults[i].title %>
            </a>
        </div>
        <% } %>            
</div>
<%-include('./partial/footer')-%> 